@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poltawski Nowy", serif;
    /* font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal; */
    background: #eef3f7;
    margin: 0;
    padding: 32px 0;
    color: #222;
}

.container {
    background: hsla(0, 0%, 3%, 0.658);
    max-width: 420px;
    min-width: 10vw;
    margin: auto;
    padding: 28px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 16px rgba(60, 140, 220, 0.13);
}

h1 {
    color: #5595f0;
    margin-bottom: 8px
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    font-size: 1em;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3278d8;
}

.input-group {
    display: flex;
    gap: 9px;
    align-items: center;
}

button,
.generate-btn {
    background: #3278d8;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 7px 0;
    font-size: 1em;
    transition: background 0.2s;
    cursor: pointer;
}

button:hover,
.generate-btn:hover {
    background: #f1c40f;
    color: #222
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #e9ecef;
    border-bottom-left-radius: 20%;
    padding: 8px 4px;
    text-align: left;
}

th {
    background: #3278d8;
    color: white
}

.action-btn {
    background: #ff6f4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 0.95em;
}

.show-btn {
    background: hsl(194, 76%, 69%);
    color: #222;
    border: none;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 0.95em;
    margin-left: 8px;
}

@media (max-width: 500px) {
    .container {
        padding: 10px 2vw;
    }

    th,
    td {
        font-size: 0.97em
    }
}